# Environment variables for the Etcdbk microservice
# This corresponds to an etcd entry at /environments/etcdbk-app

ETCD_HOSTS=http://172.17.42.1:4001

CLUSTER_NAME=dev

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=https://s3.amazonaws.com
AWS_S3_BUCKET=backupbucket

MAX_PERIOD=168h
MIN_PERIOD=1h
